include pyproject.toml

recursive-include pi_base/common *
exclude pi_base/scripts/** pi_base/remoteiot.com/**
exclude .vscode/** docs/** **/.git* develop* ./*.cfg ./*.ini ./*.json ./*.md pi_base/*.md
