# Verification Plan

Apps In This Section of the Repo

1. RPI apps:
   1. blank

## blank

TODO: (now) Implement:
Since `blank` project is excluded from `pi_base/make.py`, we need a hack to include it back for testing purposes.
